!!! 5
%html
  %head
    %title New York Times Mapper
    %link{:href => "/stylesheets/base.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/map.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://code.leafletjs.com/leaflet-0.3.1/leaflet.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    /[if lte IE 8]
      %link{:href => "http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:src => "http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"}
    %script{:src => "/javascript/contrib/wax.leaf.min.js"}
    %script{:src => '/javascript/tg.js'}
    %script{:src => '/javascript/states.js'}
    %script{:src => '/javascript/timesmapper.js'}

    %script{:type => 'text/javascript'}
      :plain
        var map;

        $(document).ready(function () {
    
          TG.overlay.init();

          map = new TM.Map('map-div', 
          {
            center: '39,-96',
            zoom: 4,
            dragging: false,
            touchZoom: false,
            scrollWheelZoom: false,
            doubleClickZoom: false,
            zoomControl: false
          });

          $('.search').click(function(e){
            e.preventDefault();
            // TODO: check that search term isn't a bunch of crap

            if ($('.topic').val() !== '') {
              history.pushState(null, '', '/search/' + $('.topic').val());
              TM.utils.checkForData($('.topic').val());
            } 
          });

          $('.clear').click(function(e){
            e.preventDefault();
            history.pushState(null, '', '/!');
            TM.utils.clear();
          });
          
          window.addEventListener("popstate", function(e) {
            TM.utils.handlePopState();
          });

        });

  %body
    %header
      %h1
        %a{:href => '/'}
          TimesMapper
          %span Search for a topic to see recent stories from the New York Times that are tagged by state.
    %div.container
      %form
        %fieldset
          %input{:type => 'text', :class => 'topic', :name => 'topic', :placeholder => 'Enter a topic', :value => params[:search]}
          %button{:class => 'search'} Search
          %button{:class => 'clear'} Clear
      
      %div.results

      %div#map-div

    %div.overlay.about
      %p
        TimesMapper is a companion project and forked of 
        %a{:target => "_blank", :href => "http://timesgrapher.herokuapp.com/"} TimesGrapher
        by 
        %a{:target => "_blank", :href => "http://mikeball.us/"} MDB
      %p
        TimesMapper utilizes the
        %a{:target => "_blank", :href => "http://developer.nytimes.com/docs/read/article_search_api"} New York Times' articles API
      %p
        It's built on
        %a{:target => "_blank", :href => "http://www.sinatrarb.com/"} Sinatra
        and uses
        %a{:target => "_blank", :href => "http://haml-lang.com/"} haml
        and
        %a{:target => "_blank", :href => "http://sass-lang.com/"} sass.
      %p
        The mapping component is powered by 
        %a{:target => "_blank", :href => "http://leaflet.cloudmade.com"} Leafet. 
        The tiles are provided by 
        %a{:target => "_blank", :href => "http://www.mapbox.com"} Mapbox.
      %p
        View its source code on
        %a{:target => "_blank", :href => "http://github.com/caseypt/times_mapper"} Github.
      %p
        &copy; 2012
        %a{:target => "_blank", :href => "http://caseypthomas.org"} CPT
    %div#overlay-mask
    %footer
      %ul
        %li
          &copy; 2012
          %a{:target => "_blank", :href => "http://caseypthomas.org"} CPT 
          \/
          %a{:target => "_blank", :href => "http://mikeball.us"} MDB
        %li 
          Forked from 
          %a{:target => "_blank", :href => "http://timesgrapher.herokuapp.com"} TimesGrapher
        %li   
          %a{:target => "_blank", :href => "http://github.com/cpt/times_mapper"} Source Code
        %li
          %a{:"data-role" => "overlay-trigger", :"data-overlay" => ".about", :href => "#"} About
        %li
          Not affliated with the New York Times
