/* line 6, ../../views/sass/overlay.scss */
#overlay-mask {
  background: #000;
  position: fixed;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9000;
  display: none;
}

/* line 18, ../../views/sass/overlay.scss */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  display: none;
  z-index: 9999;
  padding: 20px;
  width: 650px;
  border: 7px solid #888;
  height: 500px;
  overflow: auto;
}

/* line 32, ../../views/sass/overlay.scss */
#scrollSize {
  position: fixed;
  top: -100px;
  overflow: scroll;
}
/* line 37, ../../views/sass/overlay.scss */
#scrollSize div {
  width: 50px;
  height: 50px;
}

/* line 4, ../../views/sass/base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../../views/sass/base.scss */
body {
  height: 100%;
  padding: 10px 0;
  background: black;
  font-family: georgia, "times new roman", serif;
  font-size: 16px;
  color: #999999;
}
/* line 17, ../../views/sass/base.scss */
body a {
  color: white;
}
/* line 21, ../../views/sass/base.scss */
body form {
  margin-bottom: 20px;
}
/* line 24, ../../views/sass/base.scss */
body form fieldset {
  border: none;
}
/* line 29, ../../views/sass/base.scss */
body cite, body time {
  display: block;
}
/* line 33, ../../views/sass/base.scss */
body ul {
  list-style-type: none;
}

/* line 38, ../../views/sass/base.scss */
header {
  padding: 40px 0 20px 0;
  width: 960px;
  margin: 0 auto;
}
/* line 44, ../../views/sass/base.scss */
header h1 a {
  font-size: 22px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  line-height: 26px;
}
/* line 51, ../../views/sass/base.scss */
header h1 a span {
  display: block;
  font-size: 18px;
  color: #999999;
}

/* line 60, ../../views/sass/base.scss */
.container {
  width: 960px;
  margin: 0 auto;
  overflow: visible;
  padding-bottom: 40px;
}
/* line 66, ../../views/sass/base.scss */
.container form {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #414141;
}
/* line 71, ../../views/sass/base.scss */
.container form input {
  background: #2b2b2b;
  border: 1px solid #414141;
  font-family: inherit;
  font-size: 14px;
  padding: 7px;
  color: white;
  width: 25%;
}
/* line 80, ../../views/sass/base.scss */
.container form input[type="submit"] {
  color: #999999;
  width: 100px;
  background: black;
}
/* line 85, ../../views/sass/base.scss */
.container form input[type="submit"]:hover {
  cursor: pointer;
}
/* line 91, ../../views/sass/base.scss */
.container form a.clear {
  color: #999999;
  margin-left: 3px;
}
/* line 97, ../../views/sass/base.scss */
.container h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 15px;
}
/* line 102, ../../views/sass/base.scss */
.container h2 em {
  color: white;
  font-style: normal;
}
/* line 108, ../../views/sass/base.scss */
.container ul.graphs {
  display: none;
  list-style-type: none;
}
/* line 112, ../../views/sass/base.scss */
.container ul.graphs li {
  background: #2b2b2b;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 40px;
  position: relative;
}
/* line 120, ../../views/sass/base.scss */
.container ul.graphs li div {
  background: #5c5c5c;
  height: 40px;
  position: absolute;
}
/* line 126, ../../views/sass/base.scss */
.container ul.graphs li p {
  padding-left: 10px;
  color: white;
  position: absolute;
}
/* line 134, ../../views/sass/base.scss */
.container div.graph {
  background: #2b2b2b;
  background: url("/images/dark-tile.png");
  position: relative;
  height: 500px;
}
/* line 140, ../../views/sass/base.scss */
.container div.graph ul.bars {
  height: 400px;
}
/* line 143, ../../views/sass/base.scss */
.container div.graph ul.bars li {
  position: absolute;
  width: 100px;
  background: #5c5c5c;
  bottom: 0;
  color: white;
  text-align: center;
}
/* line 151, ../../views/sass/base.scss */
.container div.graph ul.bars li:before {
  content: '';
  width: 35px;
  height: 100%;
  position: absolute;
  top: 25px;
  right: -35px;
  background-color: #2b2b2b;
  -webkit-transform: skewY(55deg);
  -webkit-transform-origin: top;
  -moz-transform: skewY(55deg);
  -moz-transform-origin: top;
  -ms-transform: skewY(55deg);
  -ms-transform-origin: top;
  -o-transform: skewY(55deg);
  -o-transform-origin: top;
  transform: skewY(55deg);
  transform-origin: top;
}
/* line 175, ../../views/sass/base.scss */
.container div.graph ul.bars li.bar-0 {
  left: 30px;
}
/* line 179, ../../views/sass/base.scss */
.container div.graph ul.bars li.bar-1 {
  left: 190px;
}
/* line 183, ../../views/sass/base.scss */
.container div.graph ul.bars li a {
  height: 100%;
  display: block;
  padding-top: 10px;
}
/* line 191, ../../views/sass/base.scss */
.container div.graph ul.labels {
  background: #000;
  position: absolute;
  bottom: -50px;
  width: 100%;
  min-height: 50px;
}
/* line 198, ../../views/sass/base.scss */
.container div.graph ul.labels li {
  margin: 10px 0 0 60px;
  color: white;
  float: left;
  width: 100px;
  text-align: center;
}
/* line 205, ../../views/sass/base.scss */
.container div.graph ul.labels li.label-0 {
  margin-left: 30px;
}
/* line 211, ../../views/sass/base.scss */
.container div.graph ul.y-axis {
  width: 100px;
  position: absolute;
  text-align: right;
  left: -100px;
  top: 0;
}
/* line 218, ../../views/sass/base.scss */
.container div.graph ul.y-axis li {
  color: white;
  padding-right: 10px;
  height: 100px;
}
/* line 223, ../../views/sass/base.scss */
.container div.graph ul.y-axis li.label-0 {
  height: 93px;
}
/* line 232, ../../views/sass/base.scss */
.container ul.articles li {
  margin-bottom: 25px;
  color: #333;
}
/* line 236, ../../views/sass/base.scss */
.container ul.articles li a {
  color: #313131;
}
/* line 240, ../../views/sass/base.scss */
.container ul.articles li h2 {
  margin-bottom: 10px;
}
/* line 243, ../../views/sass/base.scss */
.container ul.articles li h2 a {
  color: #313131;
  display: block;
  text-decoration: none;
}
/* line 248, ../../views/sass/base.scss */
.container ul.articles li h2 a:hover {
  text-decoration: underline;
}
/* line 254, ../../views/sass/base.scss */
.container ul.articles li cite {
  font-size: 12px;
  font-style: normal;
  color: gray;
  font-family: helvetica, arial, sans-serif;
}
/* line 261, ../../views/sass/base.scss */
.container ul.articles li time {
  font-size: 12px;
  color: gray;
  font-family: helvetica, arial, sans-serif;
  margin-bottom: 10px;
}
/* line 268, ../../views/sass/base.scss */
.container ul.articles li p {
  line-height: 20px;
  font-size: 15px;
}
/* line 273, ../../views/sass/base.scss */
.container ul.articles li a.load-more {
  background: #888;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
}
/* line 282, ../../views/sass/base.scss */
.container ul.articles li a.load-more:after {
  content: '...';
}
/* line 286, ../../views/sass/base.scss */
.container ul.articles li a.load-more:hover {
  background: #000;
}
/* line 291, ../../views/sass/base.scss */
.container ul.articles li.load {
  margin-bottom: 0;
}
/* line 295, ../../views/sass/base.scss */
.container ul.articles.secondary {
  border-top: 1px solid #ccc;
  padding-top: 25px;
}

/* line 302, ../../views/sass/base.scss */
.overlay.about {
  color: #313131;
  width: 200px;
  height: 175px;
}
/* line 307, ../../views/sass/base.scss */
.overlay.about p {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 18px;
}
/* line 312, ../../views/sass/base.scss */
.overlay.about p a {
  color: #313131;
}

/* line 318, ../../views/sass/base.scss */
footer {
  overflow: hidden;
  display: block;
  height: 40px;
  font-size: 12px;
  bottom: 0;
  width: 100%;
}
/* line 327, ../../views/sass/base.scss */
footer.has-search ul {
  display: none;
}
/* line 332, ../../views/sass/base.scss */
footer ul {
  border-top: 1px solid #414141;
  padding-top: 10px;
  width: 960px;
  margin: 0 auto;
}
/* line 338, ../../views/sass/base.scss */
footer ul li {
  float: left;
  margin-right: 5px;
  border-right: 1px solid #414141;
  padding-right: 5px;
}
/* line 344, ../../views/sass/base.scss */
footer ul li:last-child {
  border-right: none;
}
/* line 348, ../../views/sass/base.scss */
footer ul li a {
  color: #999999;
}
