@import 'variables';
@import 'overlay';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  padding: 10px 0;
  background: $background_color;
  font-family: $primary_font_family;
  font-size: 16px;
  color: $text_color;

  a {
    color: $link_color;;
  }

  form {
    margin-bottom: 20px;

    fieldset {
      border: none;
    }
  }

  cite, time {
    display: block;
  }

  ul {
    list-style-type: none;
  }
}

header {
  padding: 40px 0 20px 0;
  width: 960px;
  margin: 0 auto;

  h1 {
    a {
      font-size: 22px;
      font-weight: normal;
      color: $highlight;
      text-decoration: none;
      line-height: 26px;

      span {
        display: block;
        font-size: 18px;
        color: $text_color;
      }
    }
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: visible;
  padding-bottom: 40px;

  form {
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid $border_color;

    input {
      background: $secondary_background;
      border: 1px solid $border_color;
      font-family: inherit;
      font-size: 14px;
      padding: 7px;
      color: $highlight; 
      width: 25%;

      &[type="submit"] {
        color: $text_color;
        width: 100px;
        background: $background_color;

        &:hover {
          cursor: pointer;
          background: $secondary_background;
        }
      }
    }

    button {
      font-family: inherit;
      font-size: 14px;
      color: $text_color;
      width: 100px;
      background: $background_color;
      border: 1px solid $border_color;
      padding: 7px;

      &:hover {
        cursor: pointer;
        background: $secondary_background;
      }
    }

    a.clear {
      color: $text_color;
      margin-left: 3px;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;

    em {
      color: $highlight;
      font-style: normal;
    }
  }

  ul.articles {

    li {
      margin-bottom: 25px;
      color: #333;

      a {
        color: #313131;
      }

      h2 {
        margin-bottom: 10px;

        a {
          color: #313131;
          display: block;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      cite {
        font-size: 12px;
        font-style: normal;
        color: gray;
        font-family: $secondary_font_family;
      }

      time {
        font-size: 12px;
        color: gray;
        font-family: $secondary_font_family;
        margin-bottom: 10px;
      }

      p {
        line-height: 20px;
        font-size: 15px;
      }

      a.load-more {
        background: #888;
        color: #fff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        font-size: 14px;

        &:after {
          content: '...';
        }

        &:hover {
          background: #000;
        }
      }

      &.load {
        margin-bottom: 0;
      }
    }
    &.secondary {
      border-top: 1px solid #ccc;
      padding-top: 25px;
    }
  }
}

.overlay.about {
  color: #313131;
  width: 350px;
  height: 225px;

  p {
    font-size: 14px;
    margin-bottom: 15px;    
    line-height: 18px;

    a {
      color: #313131;
    }
  }
}

.state-article-list.overlay {
  overflow: hidden;
  position:fixed;
  left:106px;
  top: 40px;
  background-color:#ffffff;
  display:none;
  z-index:9999;
  padding:10px;
  height: 320px;
  width:700px;
  border:7px solid #888;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
}

.article-container {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.x {
  color: #fff;
  background-color: #888;
  top: 10px;
  right: 12px;
  position: absolute;
  display: inline-block;
  border-radius: 15px;
  padding: 3px 8px 3px 8px;
  cursor: pointer;
  
  &:hover {
    background-color: $background_color;
  }
}

footer {
  overflow: hidden;
  display: block;
  height: 40px;
  font-size: 12px;
  bottom: 0;
  width: 100%;

  &.has-search {
    ul {
      display: none; //temporary fix
    }
  }

  ul {
    border-top: 1px solid $border_color;
    padding-top: 10px;
    width: 960px;
    margin: 0 auto;

    li {
      float: left;
      margin-right: 5px;
      border-right: 1px solid $border_color;
      padding-right: 5px;

      &:last-child {
        border-right: none;
      }

      a {
       color: $text_color;
      }
    }
  }
}
